html
	head
		title Confirmacion de Datos
	body
		p
			h3 Muchas gracias. Según sus datos, hablamos con el señor/señora #{nombre} de apellidos #{apellido1} y #{apellido2} y con email #{email}, esperamos que encuentre lo que busca.
		p Cuando quiera volver a la pagina principal, haga click en  #[a(href='/') esta direccion] 